:root {
  --first-color: #F4C015;
  --image-color: #F8D04F;
  --title-color: #E22866;
  --button-color: #001D29;
  --white-color: #FDFFFC;
  --body-color: #792A76;
  --container-color: #003952;
  --card1-color: #3D3264;
  --card2-color: #174B62;
  --footer-color: #E22866;

  --body-font: "Arial", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


h1#activity-detail-title {
  color: var(--title-color);
  font-size: 30px;
}

.activity-image {
  width: 300px;
}

.navbar-brand {
  font-family: 'pacifico', cursive;
  font-size: 1.5rem;
  color: var(--first-color);
}

.navbar-brand:hover {
  font-family: 'pacifico', cursive;
  font-size: 1.5rem;
  color: var(--first-color);
}

.navbar-shadow {
  transition: box-shadow 0.2s ease;
}

button#startMingleButton {
  background-color: var(--first-color);
  color: var(--container-color);
}

nav {
  background-color: var(--body-color);
}

a.text-light {
  background-color: #484870;
}

a.text-light:hover {
  background-color: #7676a7;
}

.material-icons {
  font-size: 50px;
}

.material-icons {
  color: #202032;
  font-size: 50px;
}

.star {
  color: #e9b91f;
}

.footer {
  background-color: var(--first-color);
}

#footer_icon {
  color: var(--footer-color);
}

#footer_icon:hover {
  color: #90143D;
}

#footer_icon:active {
  color: #E95D8C;
}

.main-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 64px;
  cursor: pointer;
  font-family: 'pacifico', cursive;
}

.main-button:hover {
  transform: scale(1.1);
}

.main-button:active {
  transform: scale(1);
}

.input-button {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: var(--first-color);
  color: var(--title-color);
  font-size: 36px;
  cursor: pointer;
  font-family: 'pacifico', cursive;
  transition: transform 0.2s;
}

.input-button:focus {
  transform: scale(1.1);
}

.input-button:active {
  transform: scale(1.0);
}

.chatUserName {
  color: #F6CD46;
  font-size: 17px;
}

#chatActivityName {
  color: #D81E5B;
}

.sendMessageBtn {
  background-color: #D81E5B;
}

#messageCardGroup {
  overflow: auto;
}

#editinfo {
  background-color: var(--container-color);
  color: var(--white-color);
  font-family: var(--body-font);
}

#profileInfo {
  font-family: var(--body-font);
}

#mypic-goes-here {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}