.navbar-brand {
  font-family: 'pacifico', cursive;
  /*change the font name for what you have*/
  font-size: 1.5rem;

}

nav {
  background-color: #f6cd46;
}

a.text-light {
  background-color: #484870;
}

a.text-light:hover {
  background-color: #7676a7;
}

.material-icons.md-68 {
  font-size: 68px;
}

.material-icons {
  color: #202032;
}

.footer {
  background-color: #F6CD46;
}

#footer_icon:hover {
  color: #484870;
}

#footer_icon:active {
  color: #101019;
}

.main-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #f6cd46;
  color: #101019;
  font-size: 48px;
  border: none;
  cursor: pointer;
  font-family: 'pacifico', cursive;
  transition: transform 0.2s;
}

.main-button:hover {
  transform: scale(1.1);
}

.main-button:active {
  transform: scale(1);
}

.input-button {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: #f6cd46;
  color: #101019;
  font-size: 36px;
  border: none;
  cursor: pointer;
  font-family: 'pacifico', cursive;
  transition: transform 0.2s;
}

.input-button:focus {
  transform: scale(1.1);
}

.input-button:active {
  transform: scale(1.0);
}