.navbar-brand {
  font-family: 'pacifico', cursive;
  /*change the font name for what you have*/
  font-size: 1.5rem;

}

nav {
  background-color: #f6cd46;
}

button.text-light {
  background-color: #484870;
}

button.text-light:hover{
  background-color: #7676a7;
}

.material-icons.md-60 { font-size: 60px; }

.material-icons {
  color: #202032;
}

.footer {
  background-color: #F6CD46;
}